.page {
    padding: 20px;
}

.text-input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid blue;
    border-radius: 0;
}

.page {
    margin-bottom: 52px;
}

#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: none;
}


#results-list {
    max-width: 600px;
}

/* #results-page {
    justify-content: center;
    flex-
} */

#results-page, .results-list-item, .result-item-info, .result-item-star-info {
    display: flex;
    align-items: center;
}

.result-item-star-info, #results-page {
    flex-direction: column;
    justify-content: center;
}

.results-list-item {
    justify-content: space-between;
}

#results-page,.restaurant-page-bottom-about {
    display: none;
}

.restaurant-page-header, .restaurant-page-header-star-section, .restaurant-page-nav, .restaurant-page-bottom-about-owner, #restaurant-page-bottom-photos {
    display: flex;
    justify-content: center;
}

.restaurant-page-header {
    flex-direction: column;
    align-items: center;
}

.restaurant-page-nav {
    justify-content: space-between;
    background-color: aquamarine;
}

.restaurant-page-link {
    text-align: center;
    padding: 5px;
}

#img-restaurant-page-bottom-photos {
    width: 200px;
    height: 200px;
    border: 1px solid cadetblue;
    /* background-image: url("https://images.unsplash.com/photo-1530281700549-e82e7bf110d6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"); */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

